header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 24px;
  }
  .nav {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .logo {
      font-size: 36px;
    }
    .hamburguer {
      display: none;
    }
    .nav {
      display: block;
      list-style: none;
      &__item {
        display: inline-block;
        margin-right: 20px;
        &:nth-child(5) {
          margin-right: 0px;
        }
        & a {
          color: var(--gray);
          text-decoration: none;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .nav {
      &__item {
        margin-right: 40px;
        font-size: 24px;
      }
    }
  }
}
