header {
  display: flex;
  justify-content: space-between;
  position: relative;
  .logo {
    font-size: 24px;
  }
  .close {
    display: none;
  }
  .nav {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f005;
    top: 0;
    left: 0;
  }
}
